temple_admin/.env
*.text
temple_admin/__pycache__/supabase_client.cpython-313.pyc
temple_admin/auth/__pycache__/__init__.cpython-313.pyc
temple_admin/auth/__pycache__/routes.cpython-313.pyc
temple_admin/admin/__init__.py
temple_admin/admin/__pycache__/__init__.cpython-313.pyc
temple_admin/admin/__pycache__/routes.cpython-313.pyc
